<div id='facebook'>
    <div id="fb-root"></div>
    <div class="fb-like-box" data-href="{{ facebook_uri }}" data-width="250" data-height="272" data-show-faces="true" data-stream="false" data-header="false"></div>
</div>