#news ul.news_list li {
    float: left;
    width: 50%;
}

#news .thumb {
    float: left;

    width: 63px;
    height: 63px;
    overflow: hidden;

    margin: 0 5px 0 0;
}

#news .related_news {
    background: #F6F3E0;

    margin-top: 50px;
    padding: 2%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#news .related_news ul li {
    float: left;
    width: 45%;
    margin-right: 5%;
}

#news .related_news ul li h2 {
    padding-bottom: 2px;
    margin: 20px 0px 0 0;

    font-size: 16px;
}

#news .related_news ul li a { text-decoration: none; }
#news .related_news ul li a:hover { color: #6698B9; }

#news .related_news .title {
    display: block;
    width: 100%;
    
    padding: 5px 0;

    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #777;
    
    border-bottom: 2px solid;
}