<!-- Contacts -->
<div class="headline"><span class="title">Contacts</span></div>
<ul class="list-unstyled who margin-bottom-30">
    <li><i class="fa fa-home"></i>Complexe Sportif de La Galerne-Noroît<br/>85190 Aizenay</li>
    <li><i class="fa fa-envelope"></i><a href="mailto:contact@cpfaizenay.com">contact@cpfaizenay.com</a></li>
    <li><i class="fa fa-phone"></i><a href="tel:0251483333">02.51.48.33.33</a></li>
    <li><i class="fa fa-globe"></i>http://www.example.com</li>
</ul>