#listClub table {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

#listClub table th {
    font-weight: normal;
    height: 35px;
    background-color: #42576F;
    vertical-align: middle;
    color: white;
    border: 1px solid #444;
}

#listClub table tr.l_0 td {
    background-color: #EBEBEB;
}

#listClub table tr.l_1 td {
    background-color: #6698B9;
    color: white;
}

#listClub table td {
    border: 1px solid #444;
    padding: 10px 0;
}