<div id='ad'>
    {% if app.environment == 'prod' %}
        <script async type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display: inline-block; width: 250px; height: 250px;"
             data-ad-client="ca-pub-6979123526340584"
             data-ad-slot="7428825456"></ins>
        <script type="text/javascript">
            <!--
            (adsbygoogle = window.adsbygoogle || []).push({});
            //-->
        </script>
    {% else %}
        Publicité
    {% endif %}
</div>

