<div id='ad'>
    {% if app.environment == 'prod' %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- CPF_Aizenay_AD_Adaptable -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6979123526340584"
             data-ad-slot="7302636351"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% else %}
        Publicité
    {% endif %}
</div>

