{% extends "::base.html.twig" %}

{% block title %}Changement de votre mot de passe | {{ parent() }}{% endblock %}
{% block meta_description %}Changez le mot de passe de votre compte.{% endblock %}

{% block h1 %}
    <h1 class="pull-left">Changement de votre mot de passe</h1>
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger fade in">
            {{ error|trans({}, 'FOSUserBundle') }}
        </div>
    {% endif %}

    {% block fos_user_content %}
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    {% endblock fos_user_content %}

{% endblock %}
